.btn {
  display: inline-flex;
  padding: 10px 20px;
  color: $color-default-white;
  background-color: #444240;
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  border: none;
  cursor: pointer;
  transition: opacity $trans-default;
  min-width: 205px;
  min-height: 64px;

  @media (max-width: 800px) {
    min-width: 100px;
    min-height: 30px;
  }

  &:hover {
    opacity: 0.8;
    background: $color-hover;
  }

  &--light {
    position: relative;
    background-color: $color-hover;

    &:hover {
      background-color: $color-grey-title;
    }


    &:disabled {
      opacity: 0.5;

      pointer-events: none;
    }
  }
}
